@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

html,
body {
  overscroll-behavior-y: contain;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Amatic SC", cursive;
}

canvas,
.start,
.resume-button,
.close,
.email-button,
.close-code-modal {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.overlay {
  opacity: 1;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: opacity 1s;
}

.overlay.fade {
  opacity: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  font-family: "Amatic SC";
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
}

.loading.fade {
  opacity: 0;
}

.start-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.start,
.controls {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 10vw;
  font-family: "Amatic SC";
  text-align: center;
  margin: 0;
  display: inherit;
  justify-content: inherit;
}

.controls {
  font-size: 4vw;
}

.start-container.fadeIn {
  opacity: 1;
}

.start-container.fadeOut {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .start:hover {
    color: #a528e2;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.modal.fadeIn {
  opacity: 1;
  display: block;
}

.modal.fadeOut {
  opacity: 0;
}

.modal-wrapper,
.code-modal-wrapper {
  position: relative;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  @media (min-width: 641px) {
    width: 75%;
  }
  @media (min-width: 1025px) {
    width: 50%;
  }
}

.code-modal-wrapper {
  transition: all 600ms ease-in-out;
  min-height: 0;
  height: auto;
}

.modal-content,
.code-modal-content {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  color: white;
  opacity: 1;
}

.code-modal-content,
.project-names-container {
  transition: all 600ms ease-in-out;
  min-height: inherit;
  height: inherit;
  opacity: inherit;
}

.modal-description {
  font-size: 3vw;
  @media (min-width: 641px) {
    font-size: 2vw;
  }
  @media (min-width: 1025px) {
    font-size: 1.2vw;
  }
}

.modal-title {
  font-size: 4.5vw;
  @media (min-width: 641px) {
    font-size: 3.5vw;
  }
  @media (min-width: 1025px) {
    font-size: 2.5vw;
  }
}

.close,
.resume-button,
.email-button,
.close-code-modal,
.back-button {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 1rem;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  font-weight: bold;
  transition: 0.6s all;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;

  font-size: 4vw;
  @media (min-width: 641px) {
    font-size: 3vw;
  }
  @media (min-width: 1025px) {
    font-size: 2vw;
  }
}

.close:hover,
.close:focus,
.resume-button:hover,
.resume-button:focus,
.email-button:hover,
.email-button:focus,
.close-code-modal:hover,
.close-code-modal:focus,
.back-button:hover,
.back-button:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.resume-button,
.email-button {
  margin-left: 8px;
  display: none;
}

.email-button.copied {
  background-color: rgba(4, 255, 31, 0.2);
}

.back-button {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

.modal h1,
.modal p {
  margin: 0 0 15px 0;
}

.modal h1 {
  font-weight: 500;
}

.modal p {
  font-weight: 300;
}

.project-name {
  display: block;
  font-weight: 400;
  font-size: 1.3vw;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.project-name:hover,
.project-name:focus {
  color: #a528e2;
}

.project-container {
  display: none;
  opacity: 0;
  position: inherit;
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  transition: inherit;
  flex-direction: column;
}

.project-container.fadeIn,
.back-button.fadeIn,
.project-names-container.fadeIn {
  opacity: 1;
}

.project-container.fadeOut,
.back-button.fadeOut,
.project-names-container.fadeOut {
  opacity: 0;
}
